<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css"/>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Test</h1>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="row">
                    <div class="col-5">
{#                        <form action="{% url 'search_results' %}" method="get">#}
{#                            <input name="q" type="text" placeholder="Search...">#}
{#                        </form>#}
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="rounded" id="map" style="width: 900px; height: 580px"></div>
            </div>
        </div>


    </div>
</div>
<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
<script>
    // Creating map options
    var mapOptions = {
        center: [41.9945784, 21.4338471],
        zoom: 18
    }


    // Creating a map object
    var map = new L.map('map', mapOptions);

    var marker = L.marker([41.9945784, 21.4338471]).addTo(map);
    marker.bindPopup("<b>Anhoch Market</b><br>GTC.").openPopup();
    // Creating a Layer object
    var layer = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png');

    // Adding layer to the map
    map.addLayer(layer);
</script>
</body>
</html>